body {
	background-color: rgba(50, 50, 50, 0.02);
}

.red {
	color: red;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

.emailAddress {
	color: rgb(24, 183, 142);
	font-style: italic;
	font-weight: bolder;
	font-size: 140%;
}

.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right!important;
}