/* #canvas {
	display: 'none';
} */

body {
	background-color: #eee;
}

.container {
	width: 90%;
}

#left-sidebar {
	height: 800px;
	overflow: auto;
}

#left-sidebar p {
	position: relative;
	font-size: 3em;
	margin: auto;
	margin-top: 5px;
	color: #222;
	text-decoration: underline;
}
#left-sidebar img {
	margin: auto;
}

#right-sidebar {
	height: 800px;
	overflow: auto;
}

#right-sidebar p {
	position: relative;
	font-size: 3em;
	margin: auto;
	margin-top: 5px;
	color: #222;
	text-decoration: underline;
}

#right-sidebar img {
	padding: 5px 0;
}

#main-page {
	position: relative;
	height: 800px;
	border: 2px solid #555;
	margin: 0;
	padding: 0;
	overflow: auto;
}

#main-page p {
	position: relative;
	font-size: 3em;
	margin: auto;
	margin-top: 5px;
	color: #222;
	text-decoration: underline;
}

#main-page canvas {
	position: absolute;
	top: 20%;
	z-index: 100;
}

#video {
	display: none;
	position: absolute;
	top: 20%;
	z-index: 0;
}